:root{
    --fontCol: #fefefe;
    --bg: #222222;
    --blue: #7257fa;
    --purp: #F2A1FF;
    --grayish: hsl(210, 10%, 33%);
}
*{
    font-family: 'Nunito', system-ui;
} 
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 30px;
    gap: 10rem;
    position: sticky;
    top: 0;
    display: flex;
    width: 90%;
    justify-content: space-between;
    .navbar-logo{
      a{
        color: var(--grayish);
        text-decoration: none;
      }
      a:hover{
        color: var(--blue);
      }
    }
}


.flex{
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    img{
        max-width: 100%;
    }
    .blue{
        color: var(--blue);
    }
    p{
        color: var(--grayish);
    }
    button{
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        background: var(--blue);
        a{
        color: var(--fontCol);
        font-weight: bold;
        text-decoration: none;
        }
    }
    button:hover{
        border: solid 2px var(--blue);
        background: none;
        a{
        color: var(--blue);
        }
    }
}
