.input {
    border: none;
    padding: 1rem;
    margin: 10px;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 5px 5px 20px #c5c5c5,
           -5px -5px 20px #ffffff;
    transition: 0.3s;
   }
   
   .input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
           inset -20px -20px 60px #ffffff;
    transition: 0.3s;
   }

   .contact-info{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    .info{
        box-shadow: none;
    }
   }

  