:root{
  --fontCol: #fefefe;
  --bg: #222222;
  --blue: #7257fa;
  --purp: #F2A1FF;
  --grayish: hsl(210, 10%, 33%);
}
header{
  padding: 30px;
  gap: 10rem;
  position: fixed;
  top: 0;
  font-size: 1.6rem;
  display: flex;
  width: 90%;
  justify-content: space-between;
  .navbar-logo{
    a{
      color: var(--grayish);
      text-decoration: none;
    }
    a:hover{
      color: var(--blue);
    }
  }
  .navbar{
    display: flex;
    gap: 10px;
    li{
      list-style: none;
      a{
        color: var(--grayish);
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
        color: var(--blue);
      }
    }

  }
}