/* Contains general styles */
:root{
    --fontCol: #fefefe;
    --bg: #222222;
    --blue: #7257fa;
    --purp: #F2A1FF;
    --grayish: hsl(210, 10%, 33%);
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    color-scheme: light dark;
}
*{
    font-family: 'Nunito', system-ui;
}

.blue{
  color: var(--blue);
}
p{
  max-width: 70ch;
  color: var(--grayish);
  font-size: 2.4rem;
}
body,
h1,
h2,
h3,
p{
    margin: 0;
}

h1,
h2,
h3 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1;
}
h1,
h2,
h3,
p{
    margin-bottom: 1em;
}

img{
    max-width: 100%;
}
button{
    margin: 20px 10px;
    background: var(--blue);
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    color: white;
}

button a{
    color: white;
    text-decoration: none;
    font-size: 2rem;

}

.mask {
    overflow: hidden;
  }
  .mask p {
    animation-delay: 200ms;
  }
  .mask button {
    animation-delay: 400ms;
  }
  
  .hide {
    transform: translateY(-100%);
    animation-name: slideDown;
    animation-duration: 2000ms;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: forwards;
  }
  
  @keyframes slideDown {
    to {
      transform: translateY(0);
    }
  }