section{
    padding-top: 5%;
    min-height: 100dvh;
}
.work{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (min-width: 800px) {
    .work{
        flex-direction: row;
        gap: 10rem;
      }
}